# Ignore all files
*

# Allow specific files and directories
!.gitignore
!*.py
!requirements.txt
!packages.txt
!Dockerfile
!dags/
!dags/dag_template_task_architecture_pattern/
!dags/dag_template_task_architecture_pattern/tasks/
!dags/dag_template_task_architecture_pattern/configs/
!dags/dag_template_task_architecture_pattern/configs/config.yaml
!dags/dag_sensor/
!dags/dag_sensor/tasks/


# Ignore specific files
exampledag.py
